[submodule "theme"]
	path = theme
url=https://github.com/unihackhq/cinder.git{{newline}}https://github.com/unihackhq/cinder.git{{newline}}{{newline}}Open in Desktop Download ZIP Create new file Find file Branch: master {{newline}}{{newline}}https://github.com/unihackhq/cinder.git{{newline}}{{newline}}Open in Desktop Download ZIP Create new file Find file Branch: master {{newline}}
